Создай образовательный roadmap по теме: "{{.Topic}}"

Описание: {{.Description}}
Уровень сложности: {{.Complexity}}

Требования:
- Все ID узлов должны быть в формате UUID v4
- Создай иерархическую структуру в виде ДЕРЕВА
- Все узлы должны быть СВЯЗАНЫ друг с другом
- Должны быть включены все типы узлов: root(всегда 1), custom, primary, secondary, text
- Узлов должно быть не менее 10
- Узлы не должны быть друг под другом, а должны быть равномерно распределены в пространстве
- Темы можно взять с сайта roadmap.sh

Верни ТОЛЬКО JSON в следующем формате:

{{.Example}}

Учти: "{{.Content}}"
